.feedScreen {
  height: 100vh;
  display: grid;
  grid-template-columns: 1.2fr 1.5fr 1.2fr;
  grid-template-rows: 1fr auto;
}

.header {
  grid-column-start: span 3;
}

.matches {
  grid-column-start: span 1;
}

.feed {
  grid-column-start: span 1;
}

.events {
  grid-column-start: span 1;
}
