.header {
  position: sticky;
  background-color: brown;
  justify-content: space-between;
  display: flex;
  align-items: center;
  /* width: 100%; */
  height: 4rem;
  padding: 0 2rem;
}

.header_option {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  justify-content: space-between;
}
